html body {
  font-family: $font-stack;
  font-size: 14px;
  line-height: 1;
  color: $primary-color;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 auto;
}

header {
  text-align: center;

  img {
    margin: 20px;
    width: 60px;
    height: 60px;
  }
}

img.on {
  animation-name: spin;
  animation-duration: 4000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

  @keyframes spin {
      from {
          transform:rotate(0deg);
      }
      to {
          transform:rotate(360deg);
      }
  }
}

#mainContent {
  text-align: center;
}

.wrapper {
  width: 85%;
  @extend %auto-center;
}

#mainContent h1 {
  font-size: 35px;
  margin: 0;
}

#mobile-instructions {
  display: block;
  color: blue;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.img-list {
  margin-top: 65px;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;

  li {
    display: block;
    position: relative;
    float: left;
    overflow: hidden;
  }
}

.container {
  position: relative;
  list-style-type: none;
}

.image {
  display: block;
  width: 100%;
  height: auto;

  &:hover {
    cursor: pointer;
  }
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.75);
  overflow: hidden;
  transition: .5s ease;
}

.container:hover .overlay {
  cursor: pointer;
  height: 40%;
}

.overlay-contents {
  white-space: nowrap;
  color: white;
  position: absolute;
  overflow: hidden;
  display: block;
}

span {
  clear: both;
  float: left;
  display: flex;
  align-items: center;
  padding: 4px 2px;
  padding-left: 10px;
  height: 40px;
}

.imageIcon {
  padding: 0 10px;
  margin-bottom: 5px;
  width: 20px;
  height: auto;
}

#locationSpan .imageIcon {
  padding-bottom: 10px;
}

#nameSpan > p {
  font-size: 18px;
  font-weight: bold;
}

#locationSpan > p {
  font-size: 15px;
  margin-bottom: 25px;
}

footer {
  text-align: center;
  font-weight: bold;
  margin-top: 100px;

  p:last-of-type {
    margin-bottom: 15px;
  }
}

/* Larger Phones, Small Tablets */
@media only screen and (min-width : 480px) {
  span {
    clear: both;
    float: left;
    display: flex;
    align-items: center;
    padding: 4px 2px;
    padding-left: 5px;
    height: 30px;
  }

  .imageIcon {
    padding: 0 10px;
    margin-bottom: 5px;
    width: 20px;
    height: auto;
  }

  #locationSpan .imageIcon {
    padding-bottom: 10px;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  #mainContent {
    line-height: 1.2;
  }
  #mainContent h1 {
    font-size: 45px;
  }

  #mobile-instructions {
  display: none;
  }

  .img-list {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
  }

  span {
    padding: 4px 2px;
    padding-left: 5px;
    height: 35px;
  }

  .imageIcon {
    padding: 15px 15px;
  }

  #nameSpan > p {
    font-size: 20px;
  }

  #locationSpan > p {
    font-size: 16px;
    margin-bottom: 15px;
  }

  footer p:last-of-type {
    margin-bottom: 30px;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  #mainContent {
    font-size: 25px;
    line-height: 1.5;
  }

  header {
    margin-bottom: 20px;

    img {
      margin: 50px 0 20px 0;
      width: 100px;
      height: 100px;
    }
  }

  #mainContent h1 {
    font-size: 60px;
  }

  .img-list {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 40px;
  }

  #nameSpan > p {
    font-size: 25px;
  }

  #locationSpan > p {
    font-size: 18px;
    margin-bottom: 20px;
  }

  footer p:last-of-type {
    margin-bottom: 40px;
  }

}
